<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793431161303-mooflam9slp8nf3ljp72icasd8cmvlaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793431161303-mooflam9slp8nf3ljp72icasd8cmvlaf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>793431161303-14s7220fu10nd2hb6p09ui0t59l3f7uk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBD7oytma1nWVvdNEJSyPCsO-Xq8YeyHoE</string>
	<key>GCM_SENDER_ID</key>
	<string>793431161303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xurxodev.toriiShopping</string>
	<key>PROJECT_ID</key>
	<string>torii-shopping-app</string>
	<key>STORAGE_BUCKET</key>
	<string>torii-shopping-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793431161303:ios:af9b41a2252ee5bb103392</string>
	<key>DATABASE_URL</key>
	<string>https://torii-shopping-app.firebaseio.com</string>
</dict>
</plist>